body {
    background-color: #FAFAF9   ;
}

main {
    margin-top: 4rem;
}

header {
    border-bottom: .1rem solid #d1d1d1;
    background-color: #f4f5f6;
    height: 5.2rem;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

ul, li {
    list-style: none;
    margin: 0;
}

.text-myges {
    font-size: 15px;
    font-weight: bold;
    color: #9b4dca;
    font-style: italic;
    margin-top: 6px;
}

.text-myges-large {
    font-size: 42px;
    font-weight: bold;
    color: #9b4dca;
    font-style: italic;
    margin-top: 14px;
}