{% extends "base.html" %}

{% block content %}
<section class="container" style="margin-top: 2rem;">
    <h2>Class</h2>
    <ul>
        <table>
            <caption>Your Class</caption>
            <tr>
                <th>Subject Name</th>
                <th>Subject Description</th>
                <th>button</th>
                <th>Student</th>
            </tr>
            {% for subject in object_list %}
            <tr>
                <td>{{ subject.name }}</td>
                <td>{{ subject.description}}</td>
                <td><a href="/subject/add/grades/?subject={{ subject.id }}" class="button button-outline">add grade</a></td>
                <td>
                    {% for student in subject.users.all %}
                        <li>{{ student.username }}</li>
                        {% empty %}
                            <td>Nobody attends this class .</td>
                    {% endfor %}
                </td>
            {% empty %}
                <td>No class given yet.</td>
            {% endfor %}
            </tr>
        </table>
    </ul>
</section>
{% endblock %}