{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content %}
<section class="container">
  {% if user.is_authenticated %}
    <h1 style="margin-top: 2rem;">Welcome, {{ user.username }}!</h1>
    <hr />
    <div>
      <h4>Import users from .csv</h4>
      <form id="csv-import" action="{% url 'csv_import' %}" method="post">
        {% csrf_token %}
        <input type="file" accept=".csv"><br>
        <button type="submit">Import</button>
        <span id="status"></span>
      </form>
    <a href="{% url 'csv_export' %}" target="_blank" class="button button-outline">Export users in .csv</a>
    </div>
    <hr />
    <div>
      <h4>Import a document</h4>
      <form id="import-doc" method="post" enctype="multipart/form-data" action="{% url 'import_doc' %}">
        {% csrf_token %}
        <input type="file" name="myfile" /><br>
        <button type="submit">Upload</button>
      </form>

      <h5>All shared files</h5>
      <ul>
        {% for url in uploaded_file_url %}
          <li><a href="static/uploads/{{ url }}" target="_blank">{{ url }}</a></li>
        {% endfor %}
      </ul>
    </div>

  {% else %}
    {% load static %}
    <div class="flex flex-col items-center justify-center">
    <a href="/" class="flex items-center">
      <img src="{% static 'images/myges.svg' %}" width="200" />
      <span class="font-bold text-myges-large">AX</span>
    </a>
    <h4>Extranet for GESAX network.</h4>
    <a class="button" href="{% url 'login' %}">Log In</a>
    </div>
  {% endif %}
</section>
<script>
  const formImport = document.getElementById('csv-import');
  const formImportDoc = document.getElementById('import-doc');
  const csrfToken = document.querySelector('#csv-import input[name="csrfmiddlewaretoken"]');
  const inputFile = document.querySelector('#csv-import input[type="file"]');
  const docFile = document.querySelector('#import-doc input[type="file"]');
  const headers = {
    'X-CSRFToken': csrfToken.value,
  };
  formImport.addEventListener('submit', (event) => {
    event.preventDefault();
    if (inputFile.files.length) {
        const formData = new FormData();
      formData.append('file', inputFile.files[0]);
      fetch(formImport.action, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded',
          ...headers,
        },
        body: formData,
      }).then(res => res.json())
      .then(res => {
        const status = document.getElementById('status');
        status.textContent = res.message;
        status.style.color =  res.error ? 'red' : 'green';
      });
    }
  });

  {% comment %} formImportDoc.addEventListener('submit', (event) => {
    event.preventDefault();
    if (docFile.files.length) {
      fetch(formImportDoc.action, {
        method: 'POST',
        headers: {
          ...headers,
        },
        body: docFile.files[0],
      }).then(console.log)
    }
  }); {% endcomment %}
</script>
{% endblock %}
